.container {
  margin: 1rem;
}

.coloredBackground {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  height: 2.5rem;
  overflow: hidden;
  z-index: 1;
}

.iconContainer {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}

.icon {
  width: 4rem;
}

.content {
  background-color: var(--color-dark-blue);
  border-radius: 12px;
  transition: background-color 0.2s ease;
  padding: 1rem;
  position: relative;
  z-index: 2;
  top: -0.5rem;
}

.content:hover {
  background-color: var(--color-desaturated-blue);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 1rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hours {
  font-size: 2rem;
  font-weight: 300;
}

.previous {
  color: var(--color-pale-blue);
  font-size: 0.8rem;
}

.work {
  background-color: var(--color-light-red-work);
}

.play {
  background-color: var(--color-soft-blue-play);
}

.study {
  background-color: var(--color-light-red-study);
}

.exercise {
  background-color: var(--color-lime-green-exercise);
}

.social {
  background-color: var(--color-violet-social);
}

.selfcare {
  background-color: var(--color-soft-orange-self-care);
}

@media screen and (min-width: 900px) {
  .stats {
    flex-direction: column;
    align-items: baseline;
  }

  .hours {
    font-size: 3rem;
  }
}
