@import url('./fonts.css');
@import url('./variables.css');

body {
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    background-color: var(--color-very-dark-blue);
    color: var(--color-white);
}